.board_main{
    background-color: white;
    margin: 20px 40px 0px 40px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}
.column_holder_main{
    display: flex;
    justify-content: flex-start;
}
.column_holder{
    height: 500px;
    width: 100%;
    max-height:700px ;
    overflow-y: hidden;
    scrollbar-width: none;
    scrollbar-color:lightblue white;    
}
.add_column_button{
    cursor: text;
    color: black;
    font-size: 18px;
    font-weight: 700;
    width: 270px;
    min-width: 270px;
    max-width: 290px;
    margin-top: 20px;
}
.add_list_button{
    width: 100%;
    margin-top: 3px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.add_list_button:hover{
    background-color: lightgray;
}

.drag_overley{
    transform:rotate(3deg);
    opacity: 0.6;
}
.car_drag_overley{
    opacity: 0.8;
}
.card_main{
    background-color: white;
    min-height: 80px;
    max-height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.add_task_card{
    background-color: whitesmoke;
    margin-top: 13px;
    min-height: 122px;
    max-height: 140px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.board_main{

}